
body {
    background-color: #000;
    text-align: center;
    color: #00FF00;
    font-size: 2rem;
    font-family: monospace;
    overflow: hidden;
}

.title {
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 3rem;
}

.top-left {
    position: absolute;
    left: 2em;
    top: 1.5em;
}

.gmail-image-container {
    margin-right: 2rem;
    /* margin-left: 3rem; */
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;

}

.gmail-image-container img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.gmail-image-container p {
    display: block;
    margin-top: 0.5rem;
    color: #008800;
}

.gmail-image-container:hover {
    text-decoration: underline;
    text-decoration-color: green;
}

#bitcoin-price {
    margin-top: 8em;
}

#page-open-counter {
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 1em;
}


#url-hotkeys {
    margin: auto;
    margin-top: 5em;
    width: 60%;
    min-width: 24em;
    display: table;
    table-layout: fixed;
}

#url-hotkeys > a {
    display: table-cell;
    text-align: center;
    text-decoration: none;
}

#url-hotkeys > a:hover {
    text-decoration: underline;
    text-decoration-color: darkgreen;
}

#url-hotkeys > a > img {
    width: 4.5rem;
    height: 4.5rem;
    margin-bottom: 20px;
}

#url-hotkeys > a > span:nth-child(2) {
    display: block;
    color: #0F0;
}

#url-hotkeys > a > span:nth-child(3) {
    display: block;
    font-style: italic;
    margin-top: 10px;
    font-size: 0.8em;
    color: darkgreen;
}
