
body {
    background-image: url("../space-background.jpg");
    text-align: center;
    color: #00FF00;
    font-size: 2rem;
    font-family: monospace;
    overflow: hidden;
}

.title {
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 3rem;
}

.top-left {
    position: absolute;
    left: 2em;
    top: 1.5em;
}

.gmail-image-container {
    margin-right: 3rem;
    /* margin-left: 3rem; */
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;

}

.gmail-image-container img {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
}

.gmail-image-container p {
    display: block;
    margin-top: 0.5rem;
    color: #008800;
}

.gmail-image-container:hover {
    text-decoration: underline;
    text-decoration-color: green;
}

#bitcoin-price {
    margin-top: 40vh;
}

#page-open-counter {
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 1em;
}


#url-hotkeys {
    margin: auto;
    margin-top: 7em;
    width: 60%;
    display: table;
    table-layout: fixed;
}

#url-hotkeys > span {
    display: table-cell;
    text-align: center;
}

#url-hotkeys > span > span:first-child {
    display: block;
}

#url-hotkeys > span > span:last-child {
    display: block;
    font-style: italic;
    margin-top: 10px;
    font-size: 0.8em;
    color: darkgreen;
}
